
-
  const runtime = item.runtime || item.averageRuntime;
  let minutes = runtime;
  const hours = parseInt(minutes / 60);
  minutes -= hours * 60;

  const formatted = hours != 0 && minutes == 0 ? `${hours} hr`
    : minutes != 0 && hours == 0 ? `${minutes} min`
      : hours != 0 && minutes != 0 ? `${hours} hr ${minutes} min`
        : null

section.hero.is-medium.is-bold.has-background
  img.hero-background.is-transparent(src=item.imageUris.backdrop)
  .hero-body
    .container
      p.title= item.title
      p.subtitle
        if item.year != null
          =item.year

        if runtime != null && formatted != null
          |&nbsp;•&nbsp;
          =formatted

        if item.ageRating != null
          |&nbsp;•&nbsp;
          =item.ageRating

        if item.externalIds != null && item.externalIds.imdb != null
          |&nbsp;•&nbsp;
          a(href=`https://www.imdb.com/title/${item.externalIds.imdb}` target="_blank" rel="noopener noreferrer") IMDb

        |&nbsp;•&nbsp;
        a(href=`https://en.wikipedia.org/wiki/Special:Search?search=${item.title}&go=Go&ns0=1` target="_blank") Wikipedia

        |&nbsp;•&nbsp;
        a(href=`https://www.google.com/search?q=${item.title} ${item.year}` target="_blank") Google

      h6.has-text-grey-light.is-size-5.has-text-weight-bold=item.tagline
      p.has-text-grey-lighter=item.synopsis
