ul
  each source in sources
    li.mb-3
      .non-button.is-dark.button-container(href=source.streamUri)
        span
          =source.displayName
          =source.fileSize != null ? ` (${(source.fileSize / 1000000000).toFixed(3)} GB)` : ""
        .buttons.has-addons.is-right
          button.button.is-dark(onclick=`copyToClipboard("${source.streamUri}")` title="Copy stream link to clipboard")
            span.icon.is-small
              i.gg-clipboard
            span Stream link
          button.button.is-dark(onclick=`copyToClipboard("${source.fileName}")` title="Copy filename to clipboard")
            span.icon.is-small
              i.gg-clipboard
            span Filename
          a.button.is-dark(href=source.streamUri title=source.fileName)
            span.icon.is-small
              i.gg-software-download

script(type="text/javascript").
  function copyToClipboard(message) {
        let textArea = document.createElement("textarea");
        textArea.value = message;
        textArea.style.opacity = "0";
        document.body.appendChild(textArea);
        textArea.focus();
        textArea.select();

        try {
            const successful = document.execCommand('copy');
            if (successful)
              alert('Copied to clipboard: ' + message);
            else
              alert("Could not copy to clipboard!")
        } catch (err) {
            alert(err.message);
        }

        document.body.removeChild(textArea);
    }
