doctype html
html
  include includes/head.pug
  title
    =episode.index
    |.&nbsp;
    =episode.name
    |&nbsp;-&nbsp;
    =season.name
    |&nbsp;-&nbsp;
    =series.title
    |&nbsp;|&nbsp;Goriber Netflix
  body
    main()
      include includes/search.pug

      .episode-navigation.mx-4
        //- Logic compiled away
        - const prevEpisode = episode.index >= 2 ? episode.index - 1 : null;
        - const nextEpisode = episode.index < season.childCount ? episode.index + 1 : null;

        if prevEpisode != null
          a.prev-nav(href=`/series/${series.id}/season/${season.index}/episode/${prevEpisode}`)
            = `← Episode ${prevEpisode}`

        if prevEpisode != null && nextEpisode != null
          |&nbsp;•&nbsp;

        if nextEpisode != null
          a.next-nav(href=`/series/${series.id}/season/${season.index}/episode/${nextEpisode}`)
            = `Episode ${nextEpisode} →`


      .mx-4.mt-4
        section.hero.is-flex.is-flex-direction-row
          div
            p.title= `${episode.index}. ${episode.name}`
            p.subtitle
              a(href=`/series/${series.id}/season/${season.index}`)= season.name
              | ,&nbsp;
              a(href=`/series/${series.id}`)= series.title

        div.subtitle
          if episode.airDate != null
            | Aired on&nbsp;
            =new Date(episode.airDate).toDateString()

          if episode.externalIds.imdb != null
            |&nbsp;•&nbsp;
            a(href=`https://www.imdb.com/title/${episode.externalIds.imdb}` target="_blank" rel="noopener noreferrer") IMDb

          |&nbsp;•&nbsp;
          a(href=`https://en.wikipedia.org/wiki/Special:Search?search=${series.title}&go=Go&ns0=1` target="_blank") Wikipedia

          |&nbsp;•&nbsp;
          a(href=`https://www.google.com/search?q=${series.title} ${season.name} episode ${episode.index}` target="_blank") Google

        section.mt-4
          p= episode.synopsis
        section.mt-4
          h3.is-size-4.mb-2.has-text-weight-medium.has-text-grey-light Sources
          include includes/sources.pug
