doctype html
html
    include includes/head.pug
    title Error | Goriber Netflix
    body
        main
            include includes/search.pug
            .mx-4
              div
                h1.title= status
                h2.subtitle= error
                p.has-text-grey Contact your system administrator if the problem persists.