doctype html
html
    include includes/head.pug
    title Goriber Netflix
    body
        main()
            include includes/search.pug
            .mx-4
                if results
                    h2.is-size-4.mb-2.has-text-weight-medium.has-text-grey-light Results
                    ul.columns.is-multiline
                        each item in results
                            li.is-align-items-center.mb-3.column.is-one-fifth
                                .card
                                    .card-image
                                        figure.image
                                            img(src=item.imageUris.primary width=300 height=450)
                                    .card-content
                                        .media
                                            .media-content
                                                p.title.is-size-4
                                                    a(href = item.isMovie ? `/movie/${item.id}` + (item.adult ? "?include_adult=true" : "") : `/series/${item.id}`)
                                                        =item.name
                                                p.subtitle.is-size-6
                                                    if item.isMovie
                                                        |Movie
                                                    else
                                                        | TV
                                                    if item.year
                                                        |&nbsp;•&nbsp;
                                                        =item.year
                                //- if item.isMovie
                                //-     a.button.result-item.is-dark(href=`/movie/${item.id}`)
                                //-         i.gg-film.mr-2
                                //-         =`${item.name} (${item.year})`
                                //- else
                                //-     a.button.result-item.is-dark(href=`/series/${item.id}`)
                                //-         i.gg-tv.mr-2
                                //-         =`${item.name} (${item.year})`
