doctype html
html
    include includes/head.pug
    title
      =item.title
      |&nbsp;
      =`(${item.year})`
      |&nbsp;|&nbsp;Goriber Netflix
    body
        main()
            include includes/search.pug
            include includes/hero.pug
            .mx-4
              section.mt-4
                h1.is-size-4.mb-2.has-text-weight-medium.has-text-grey-light Sources
                include includes/sources.pug

