doctype html
html
    include includes/head.pug
    title
      =season.name
      |&nbsp;-&nbsp;
      =series.title
      |&nbsp;|&nbsp;Goriber Netflix
    body
        main()
            include includes/search.pug
            .mx-4
              section.hero.is-flex.is-flex-direction-row
                div
                  p.title= season.name
                  p.subtitle
                    a(href=`/series/${series.id}`)= series.title
              section.mt-4
                h3.is-size-4.mb-2.has-text-weight-medium.has-text-grey-light Episodes
                ul
                  each episode in episodes
                    li.mb-3
                      details
                        summary.is-size-5= episode.index + ". " + episode.name
                        p.has-text-grey
                          = episode.synopsis
                        a.mt-2.button.is-dark(href=`/series/${series.id}/season/${season.index}/episode/${episode.index}`) Sources