doctype html
html
  include includes/head.pug
  title
    =item.title
    |&nbsp;
    =`(${item.year})`
    |&nbsp;|&nbsp;Goriber Netflix
  body
    main()
      include includes/search.pug
      include includes/hero.pug
      .mx-4
        section.mt-4
          h1.is-size-4.mb-2.has-text-weight-medium.has-text-grey-light Seasons
          ul
            each season in seasons
              li.mb-3
                a.button.result-item.is-dark(href=`/series/${item.id}/season/${season.index}`)
                  =season.name

