doctype html
html
  include includes/head.pug
  title Trakt
  body
    a.button(href=`
    https://trakt.tv/oauth/authorize?response_type=code&client_id=${clientId}&redirect_uri=${redirectUri}
    `) Activate