:root {
  --ggs: 0.9;
}

.gg-film,
.gg-film::after {
  display: block;
  box-sizing: border-box;
  border-radius: 3px;
}
.gg-film {
  border: 2px solid;
  position: relative;
  transform: scale(var(--ggs, 1));
  width: 22px;
  height: 18px;
}
.gg-film::after {
  content: "";
  position: absolute;
  width: 2px;
  height: 2px;
  background: currentColor;
  left: 2px;
  top: 2px;
  box-shadow: 0 4px 0, 0 8px 0, 12px 0 0, 12px 4px 0, 12px 8px 0;
}

.gg-tv {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 16px;
  height: 11px;
  border: 2px solid;
  border-radius: 2px;
}

.gg-tv::after,
.gg-tv::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
}

.gg-tv::before {
  border-left: 2px solid;
  border-bottom: 2px solid;
  border-bottom-left-radius: 2px;
  top: -6px;
  left: 3px;
  transform: rotate(-45deg);
  width: 6px;
  height: 5px;
}

.gg-tv::after {
  width: 8px;
  height: 1px;
  background: currentColor;
  border-radius: 10px;
  bottom: -4px;
  right: 2px;
}
.gg-clipboard {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 18px;
  height: 18px;
  border: 2px solid;
  border-radius: 2px;
}
.gg-clipboard::after,
.gg-clipboard::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  border-radius: 2px;
  width: 10px;
  left: 2px;
}
.gg-clipboard::before {
  border: 2px solid;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  top: -2px;
  height: 6px;
}
.gg-clipboard::after {
  height: 2px;
  background: currentColor;
  box-shadow: 0 -4px 0 0;
  bottom: 2px;
}

.gg-software-download {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 16px;
  height: 6px;
  border: 2px solid;
  border-top: 0;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  margin-top: 8px;
}

.gg-software-download::after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 8px;
  height: 8px;
  border-left: 2px solid;
  border-bottom: 2px solid;
  transform: rotate(-45deg);
  left: 2px;
  bottom: 4px;
}

.gg-software-download::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  border-radius: 3px;
  width: 2px;
  height: 10px;
  background: currentColor;
  left: 5px;
  bottom: 5px;
}

/* ====== */

.has-background {
  overflow: clip;
  position: relative;
}

.hero-background {
  position: absolute;
  object-fit: cover;
  object-position: center 20%;
  width: 100%;
  height: 100%;
}
.non-button {
  background-color: #fff;
  border-color: #dbdbdb;
  border-width: 1px;
  color: #363636;
  justify-content: center;
  padding-bottom: calc(0.5em - 1px);
  padding-left: 1em;
  /* padding-right: 1em; */
  padding-right: calc(0.5em - 1px);
  padding-top: calc(0.5em - 1px);
  text-align: center;
  white-space: nowrap;
  display: inline-flex;
  -webkit-appearance: none;
  align-items: center;
  /* border: 2px solid transparent; */
  border-radius: 4px;
  box-shadow: none;
}
.non-button.is-dark {
  background-color: #1f1f1f;
  border-color: transparent;
  color: #fff;
}
.is-transparent {
  opacity: 0.3;
}

.button-container {
  display: inline-flex;
  flex-direction: row;
  gap: 0.5rem;
}

/* .episode-navigation {
  display: flex;
  justify-content: space-between;
} */

@media (max-width: 600px) {
  .button-container {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
  }
}
